/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar { 
    display: none; 
}
body {
    font-family: 'Roboto', sans-serif;
    background: #f7f7fb;
    padding: 0;
    margin: 0;
}

.toast {
    font-family: 'Roboto', sans-serif;
    box-shadow: none !important;
    &:hover {
        box-shadow: none !important;
    }
}
